<nav class="navbar d-flex flex-column justify-content-around align-items-start">
  <div class="hamburger" (click)="open()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="navItem" id="item">
    <ul class="d-flex flex-column justify-content-around align-items-start" (click)="close()">
      <li class="text-white">Enquiry</li>
      <li class="text-white">Enquiry</li>
      <li class="text-white">Enquiry</li>
      <li class="text-white">Enquiry</li>
      <li class="text-white">Enquiry</li>
      <li class="text-white">Enquiry</li>
      <li class="text-white">Enquiry</li>
      <li class="text-white">Enquiry</li>
      <li class="text-white">Enquiry</li>
      <li class="text-white">Enquiry</li>
    </ul>
  </div>
</nav>
